h1, h2, h3, p, a, span{
    font-family: var(--Montserrat);
}

.fire{
    color: var(--color-fire);
}

.grass{
    color: var(--color-grass);
}

.steel{
    color: var(--color-steel);
}

.water{
    color: var(--color-water);
}

.psychic{
    color: var(--color-psychic);
}

.ground{
    color: var(--color-ground);
}

.ice{
    color: var(--color-ice);
}

.flying{
    color: var(--color-flying);
}

.ghost{
    color: var(--color-ghost);
}

.normal{
    color: var(--color-normal);
}

.poison{
    color: var(--color-poison);
}

.rock{
    color: var(--color-rock);
}

.fighting{
    color: var(--color-fighting);
}

.dark{
    color: var(--color-dark);
}

.bug{
    color: var(--color-bug);
}

.dragon{
    color: var(--color-dragon);
}

.electric{
    color: var(--color-electric);
}

.fairy{
    color: var(--color-fairy);
}

.shadow{
    color: var(--color-shadow);
}

.unknow{
    color: var(--color-rock);
}
