@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root{
    /* Fonts */
    --Montserrat: 'Montserrat', sans-serif;

    /* Colors */
    --color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: #007A8C;
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	/* Primary */
	--Gray: #6A6A6A;
	--Ligth-Gray: #969696;
	--Number-Gray: #E8E8E8;
	--Name-Gray: #8A8A8A;
	--Pink: #CD3874;
	--Yellow: #F9CC3B;
	--Dark-Yellow: #c49600;
	--BackItem: #EAEAEA;
	--Dark-Blue: #020065;

	/* Padding */
	--padding: 32px 40px;

	/* Layout */
	--nav-height: 120px;
	--asmenu-width: 220px;
}