.Main-content{
    display: flex;
    position: relative;
    // height: 100vh;
}


.Favs__Container{
    padding-top: var(--nav-height);
    padding-left: var(--asmenu-width);

    @media #{$extra-small-mobile}{
        padding-top: $nav-height-sm;
        padding-left: 0;
    }
}

::-webkit-scrollbar{
    width: .4rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgba($color: #F9CC3B, $alpha: .8);
    border-radius: 6px;
}