.PokeItem{
    display: flex;
    position: relative;
    gap: 56px;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    // width: 100px;

    @media #{$large-mobile}{
        gap: 0;
        perspective: 1000px;
        transform-style: preserve-3d;
        transition: transform 0.8s;
        width: 100%;
        margin: auto;
        padding: 0 41px;

        &.flipped{
            transform: rotateY(180deg);
        }
    }

    &__Star{
        position: absolute;
        right: 40px;
        border: none;
        z-index: 50;
        cursor: pointer;

        @media #{$large-mobile}{
            right: 16px;
        }
    }
}