main{
    width: 100%;
    padding-top: var(--nav-height);
    padding-left: var(--asmenu-width);
    position: relative;
    padding-bottom: 50px;

    @media #{$extra-small-mobile}{
        padding-left: 0;
        padding-top: $nav-height-sm;
    }

    @media only screen and (min-width:478px) and (max-width:769px){
        padding-left: 150px;
    }

    @media only screen and (min-width) {
        
    }
}

.LoadMore{
    border: 1px solid var(--Yellow);
    color: var(--Dark-Blue);
    padding: 6px 16px;
    border-radius: 16px;
    font-family: var(--Montserrat);
    font-weight: 700;
    background-color: rgba(#F9CC3B, .3);
    backdrop-filter: blur(6px);
    transition: all .5s ease;
    max-width: 150px;

    &__Container{
        width: 100%;
        padding: 16px 0 0;
        display: grid;
        place-content: center;
    }

    &:hover{
        background-color: rgba(#F9CC3B, 1);
    }
}

.Figure{
    display: grid;
    place-content: center;
    text-align: center;
    gap: 8px;

    & p {
        font-size: 1.5rem;

        @media #{$extra-small-mobile}{
            font-size: 1rem;
        }
    }

    & img{
        @media #{$extra-small-mobile}{
            width: 85%;
            margin: 0 auto;
        }
    }
}

.Search__Info{
    padding: 10px 0 0;
    text-align: center;
    background-color: #EAEAEA;
}

.Form__Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAEAEA;
    width: 100%;
    gap: 16px;
    padding: 0 16px;
}

.Filter_Btn{
    border: none;
    background-color: transparent;

    & img{
        width: 30px;
        transition: all 0.3s ease-in-out;
    }

    @media screen and (min-width:478px) {
        display: none;
    }
}